.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.row .col {
  float: left;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 100%;
  width: 100%;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 100%;
  box-sizing: border-box;
}
.row .row {
  width: 100%;
  max-width: 100%;
}
.row .row .col {
  padding-left: 0;
  padding-right: 0;
}
.row .default-1 {
  max-width: 8.3333333333%;
  flex-basis: 8.3333333333%;
}
.row .default-2 {
  max-width: 16.6666666667%;
  flex-basis: 16.6666666667%;
}
.row .default-3 {
  max-width: 25%;
  flex-basis: 25%;
}
.row .default-4 {
  max-width: 33.3333333333%;
  flex-basis: 33.3333333333%;
}
.row .default-5 {
  max-width: 41.6666666667%;
  flex-basis: 41.6666666667%;
}
.row .default-6 {
  max-width: 50%;
  flex-basis: 50%;
}
.row .default-7 {
  max-width: 58.3333333333%;
  flex-basis: 58.3333333333%;
}
.row .default-8 {
  max-width: 66.6666666667%;
  flex-basis: 66.6666666667%;
}
.row .default-9 {
  max-width: 75%;
  flex-basis: 75%;
}
.row .default-10 {
  max-width: 83.3333333333%;
  flex-basis: 83.3333333333%;
}
.row .default-11 {
  max-width: 91.6666666667%;
  flex-basis: 91.6666666667%;
}
.row .default-12 {
  max-width: 100%;
  flex-basis: 100%;
}
.row .suffix-1 {
  margin-right: 8.3333333333%;
}
.row .suffix-2 {
  margin-right: 16.6666666667%;
}
.row .suffix-3 {
  margin-right: 25%;
}
.row .suffix-4 {
  margin-right: 33.3333333333%;
}
.row .suffix-5 {
  margin-right: 41.6666666667%;
}
.row .suffix-6 {
  margin-right: 50%;
}
.row .suffix-7 {
  margin-right: 58.3333333333%;
}
.row .suffix-8 {
  margin-right: 66.6666666667%;
}
.row .suffix-9 {
  margin-right: 75%;
}
.row .suffix-10 {
  margin-right: 83.3333333333%;
}
.row .suffix-11 {
  margin-right: 91.6666666667%;
}
.row .prefix-1 {
  margin-left: 8.3333333333%;
}
.row .prefix-2 {
  margin-left: 16.6666666667%;
}
.row .prefix-3 {
  margin-left: 25%;
}
.row .prefix-4 {
  margin-left: 33.3333333333%;
}
.row .prefix-5 {
  margin-left: 41.6666666667%;
}
.row .prefix-6 {
  margin-left: 50%;
}
.row .prefix-7 {
  margin-left: 58.3333333333%;
}
.row .prefix-8 {
  margin-left: 66.6666666667%;
}
.row .prefix-9 {
  margin-left: 75%;
}
.row .prefix-10 {
  margin-left: 83.3333333333%;
}
.row .prefix-11 {
  margin-left: 91.6666666667%;
}
.row.center {
  justify-content: center;
}
.row.start {
  justify-content: flex-start;
}
.row.middle {
  align-items: center;
}
.row.between {
  justify-content: space-between;
}

@media (min-width: 576px) {
  .row .small-1 {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }
  .row .small-2 {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }
  .row .small-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  .row .small-4 {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }
  .row .small-5 {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }
  .row .small-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  .row .small-7 {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }
  .row .small-8 {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }
  .row .small-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  .row .small-10 {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }
  .row .small-11 {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }
  .row .small-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
  .row .suffix-1 {
    margin-right: 0;
  }
  .row .suffix-2 {
    margin-right: 0;
  }
  .row .suffix-3 {
    margin-right: 0;
  }
  .row .suffix-4 {
    margin-right: 0;
  }
  .row .suffix-5 {
    margin-right: 0;
  }
  .row .suffix-6 {
    margin-right: 0;
  }
  .row .suffix-7 {
    margin-right: 0;
  }
  .row .suffix-8 {
    margin-right: 0;
  }
  .row .suffix-9 {
    margin-right: 0;
  }
  .row .suffix-10 {
    margin-right: 0;
  }
  .row .suffix-11 {
    margin-right: 0;
  }
  .row .prefix-1 {
    margin-left: 0;
  }
  .row .prefix-2 {
    margin-left: 0;
  }
  .row .prefix-3 {
    margin-left: 0;
  }
  .row .prefix-4 {
    margin-left: 0;
  }
  .row .prefix-5 {
    margin-left: 0;
  }
  .row .prefix-6 {
    margin-left: 0;
  }
  .row .prefix-7 {
    margin-left: 0;
  }
  .row .prefix-8 {
    margin-left: 0;
  }
  .row .prefix-9 {
    margin-left: 0;
  }
  .row .prefix-10 {
    margin-left: 0;
  }
  .row .prefix-11 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .row {
    max-width: 920px;
  }
  .row .large-1 {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }
  .row .large-2 {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }
  .row .large-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  .row .large-4 {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }
  .row .large-5 {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }
  .row .large-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  .row .large-7 {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }
  .row .large-8 {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }
  .row .large-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  .row .large-10 {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }
  .row .large-11 {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }
  .row .large-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
@media (min-width: 1400px) {
  .row {
    max-width: 1364px;
  }
  .row .cut-1 {
    max-width: 8.3333333333%;
    flex-basis: 8.3333333333%;
  }
  .row .cut-2 {
    max-width: 16.6666666667%;
    flex-basis: 16.6666666667%;
  }
  .row .cut-3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  .row .cut-4 {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }
  .row .cut-5 {
    max-width: 41.6666666667%;
    flex-basis: 41.6666666667%;
  }
  .row .cut-6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  .row .cut-7 {
    max-width: 58.3333333333%;
    flex-basis: 58.3333333333%;
  }
  .row .cut-8 {
    max-width: 66.6666666667%;
    flex-basis: 66.6666666667%;
  }
  .row .cut-9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  .row .cut-10 {
    max-width: 83.3333333333%;
    flex-basis: 83.3333333333%;
  }
  .row .cut-11 {
    max-width: 91.6666666667%;
    flex-basis: 91.6666666667%;
  }
  .row .cut-12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}/*# sourceMappingURL=flexgrid.css.map */